#Wrapper
{
	height: 100%;
	width: 100%
}
body{
	margin: 0;
	padding:0;
	overflow: hidden;
}
ul li {
	margin:0;
	padding:0;
	list-style-type: none;
}
#Header{
	height: 200px;
	width: 100%;
}
ul{
	margin-right: 10%;
	margin-left: 8%;
	margin-top: 5px;
}
ul li{

	font-size: 16px;
	text-decoration: none;
	float:left;
	margin-right: 3%;
}
ul li:hover{
	color: #fff;
}